#img_cont {
    display: table;
    width: 100%;
    margin: 0px auto;
  }
  
  #img_cont a {
    display: table-cell;
    text-align: center;
    width: 16%;
  }
  
  #img_cont img {
    width: 100%;
    max-width: 650px;
  }